@import url("https://fonts.googleapis.com/css2?family=COCOGOOSE:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    list-style: none;
    text-decoration: none;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'cocogoose', sans-serif;
}

header {
    box-shadow: 0 3px 10px 0 #4b4b4b73;
    width: 100%;
}

.top-nav {
    display: none;
}

.bottom-nav {
    display: none;
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.hamburger {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    font-size: 40px;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 35px;
    padding-bottom: 15px;
    background-color: #d3d3d3;
    opacity: 0.7;
}

#mobile-menu {
    visibility: hidden;
    background-color: #ffffff;
    height: 100vh;
    top: 0;
    width: 100%;
    position: fixed;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #333336;
    gap: 35px;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
}

.nav-mobile a {
    color: black;
}

.nav-mobile .high {
    color: #e2e1e1;
}

.cancel {
    font-size: 50px;
    margin-left: 5%;
    margin-top: 2.5%;
}

.highlighter {
    color: #d3d3d3;
    background-color: #ec5242;
    border: 1px solid #c2665e;
    font-size: 30px;
    width: 300px;
    padding: 30px;
    margin-top: 70px;
    text-align: center;
    cursor: pointer;
}

.headline {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
}

.hello {
    color: #ec5242;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    margin-top: 5rem;
}

.headline h1 {
    color: #EC5242;
    margin-top: 10px;
    font-size: 12vw;
    font-family: "cocogoose", serif;
}

.description {
    border: 2px solid #ffffff;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.date {
    font-weight: 700;
    font-size: large;
    color: #272a31;
}

.venue {
    margin-top: 10px;
}

.main-program {
    background-image: url(images/ourservices-bg.jpeg);
}

.program {
    padding: 25px 10px 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program h4 {
    color: white;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.rule {
    margin-bottom: 15px;
    width: 35px;
    border: 1px solid #ec5242;
}

.program-title {
    color: #ec5242;
    font-family: 'Lato', sans-serif;
}

.program-list {
    display: grid;
    grid-template-columns: 10% 20% 70%;
    border: 1px solid #333336;
    background-color: #9e9c9c50;
    padding: 20px 0 10px 10px;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    font-size: 25px;
    color: white;
}

 .program-desc {
    color: white;
    font-family: 'Lato', sans-serif;
}

.join-event {
    color: white;
    background-color: #ec5242;
    padding: 20px 30px;
    margin-top: 30px;
}


.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 30px 20px;
}

h5 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 7px;
    font-size: 17px;
}

.player-desc {
    color: #ec5242;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

.player-intro {
    font-family: 'Lato', sans-serif;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    flex: 50%;
}

.player-pic img {
    width: 110px;
    height: 110px;
    margin-right: 15px;
}

.ruler {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
}

.players h4 {
    margin-bottom: 10px;
}

.player-details p {
   font-size: 13px;
}

.more {
    border: 1px solid #a5a09f;
    width: 100%;
    color: #272a31;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* ABOUT PAGE*/
.head-liner {
    background-image: url(images/checkmate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.headliner {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.headliner h1 {
    font-family: 'cocogoose', sans-serif;
    color: #ec5242;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
}

.about-focus {
    background: rgb(252, 251, 251);
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid rgb(223, 223, 223);
    font-family: 'Lato', sans-serif;
    padding: 30px 15px 30px 15px;
    margin-bottom: 20px;
    text-align: center;
}

.contact {
    margin-top: 10px;
    color: #ffffff;
    width: 80%;
    text-align: center;
    font-size: 15px;
}

.email {
    margin-bottom: 50px;
    text-decoration: underline;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.tournament {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-left: 2%;
}

.tournament h2 {
    margin-bottom: 10px;
    margin-top: 40px;
    color: #272a31;
    font-family: 'Lato', sans-serif;
}

.tournament hr {
    width: 35px;
    border: 1px solid #ec5242;
    margin-bottom: 20px;
}

.tournament p {
    text-align: center;
}

.big-logo {
    font-size: 120px;
}

.big-div {
    border: 1px solid rgb(223, 223, 223);
    padding: 30px 0 40px 0;
    width: 90%;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 60px;
}

.tourna-ment {
    border-top: 2px solid rgb(233, 229, 229);
    border-bottom: 2px solid rgb(233, 229, 229);
}

.past-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.past-events hr {
    width: 35px;
    border-style: solid;
    border-color: #ec5242;
}

.past-events h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #272a31;
    font-family: 'Lato', sans-serif;
}

.event-desc {
    margin: 2% 5% 5% 5%;
}

.event-pics {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }  

.event-card1 {
    background-image: linear-gradient( to bottom, rgba(236, 82, 66, 0.8) 20%, rgba(236, 82, 66, 0.8) 70% ), url(images/tournamento.jpeg);
    width: 350px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-card2 {
    background-image: linear-gradient( to bottom, rgba(236, 82, 66, 0.8) 20%, rgba(236, 82, 66, 0.8) 70% ), url(images/tournament.jpeg);
    width: 350px;
    height: 250px;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partners {
    background-color: #333336;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.partners h6 {
    color: rgb(173, 171, 171);
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}

.partners hr {
    width: 35px;
    border: 1px solid #EC5242;
    margin-top: 20px;
    margin-bottom: 40px;
}

.partners div {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.partner {
    margin-right: 30px;
    color: #625e5e;
    font-size: 40px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.copyright p {
    margin-left: 50px;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .top-nav {
        display: flex;
        justify-content: flex-end;
        color: white;
        background-color: #272a31;
        padding: 5px 120px 5px;
    }
    
    .top-nav li {
        margin-right: 15px;
    }
    
    .top-nav a {
        color: white;
        font-size: 13px;
    }
    
    .bottom-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0px #888888;
        align-items: center;
        position: unset;
        background-color: #ffffff;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 7%;
        margin-right: 7%;
    }

    .logo {
        font-size: 40px;
        color: black;
    }
    
    .menu {
        display: flex;
        align-items: center;
    }
    
    .menu-list {
        margin-right: 60px;
    }
    
    .menu-list a {
        color: #272a31;
        font-size: 15px;
    }
    
    .highlight {
        border: 4px solid #ec5242;
        padding: 5px 10px 5px 10px;
    }
    
    .highlight a {
        color: #ec5242;
    }

    .chess-players {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .headline h1 {
        color: #EC5242;
        margin-top: 10px;
        font-size: 50px;
        font-family: 'cocogoose', sans-serif;
    }

    /*ABOUT PAGE*/
    .about-focus {
        width: 63%;
        padding: 4% 2% 4% 2%;
        font-size: 1.1rem;
    }

    .tournament p {
        width: 65%;
    }

    .big-div {
        width: 45%;
    }

    .event-card1 p {
        margin-right: 30px;
    }

    .event-pics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .partners {
        display: none;
    }

    .copyright {
        background-color: #333336;
        height: 200px;
        color: #ffffff;
    }

    .copyright p {
        font-size: 15px;
    }

    .copyright .logo {
        font-size: 70px;
        color: #ffffff;
    }
}