@import url("https://fonts.googleapis.com/css2?family=COCOGOOSE:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    list-style: none;
    text-decoration: none;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'cocogoose', sans-serif;
}

header {
    box-shadow: 0 3px 10px 0 #4b4b4b73;
}

.top-nav {
    display: none;
}

.bottom-nav {
    display: none;
    background-color: #ffffff;
}

.mobile-menu {
    padding-left: 20px;
    padding-top: 15px;
    font-size: 35px;
    padding-bottom: 15px;
    background-color: #d3d3d3;
    opacity: 0.7;
}

.headline {
    margin-left: 20px;
    margin-right: 20px;
   
    padding-top: 150px;
}

/*.headline::after{
    content: "";
    background-image: url(images/checkmate-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    height: 100vh;
    z-index: -1;
}*/

.hello {
    color: #ec5242;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.headline h1 {
    color: #ec5242;
    margin-top: 10px;
    font-size: 60px;
    font-family: "cocogoose", serif;
}

.description {
    border: 2px solid #ffffff;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.date {
    font-weight: 700;
    font-size: large;
    color: #272a31;
}

.venue {
    margin-top: 10px;
}

.main-program {
    background-image: url(images/ourservices-bg.jpeg);
}

.program {
    padding: 25px 10px 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program h4 {
    color: white;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.rule {
    margin-bottom: 15px;
    width: 35px;
    border: 1px solid #ec5242;
}

.program-title {
    color: #ec5242;
    font-family: 'Lato', sans-serif;
}

.program-list {
    display: grid;
    grid-template-columns: 10% 20% 70%;
    border: 1px solid #333336;
    background-color: #9e9c9c50;
    padding: 20px 0 10px 10px;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    font-size: 25px;
    color: white;
}

 .program-desc {
    color: white;
    font-family: 'Lato', sans-serif;
}

.join-event {
    color: white;
    background-color: #ec5242;
    padding: 20px 30px;
    margin-top: 30px;
}


.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 30px 20px;
}

h5 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 7px;
    font-size: 17px;
}

.player-desc {
    color: #ec5242;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

.player-intro {
    font-family: 'Lato', sans-serif;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    flex: 50%;
}

/*.player-pic {
    background-image: url(images/board-bg.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125px;
    position: relative;
    margin-right: 15px;
}*/

.player-pic img {
    width: 110px;
    height: 110px;
    margin-right: 15px;
    /*position: absolute;
    bottom: 0;
    right: 0;*/
}

.ruler {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
}

.players h4 {
    margin-bottom: 10px;
}

.player-details p {
   font-size: 13px;
}

.more {
    border: 1px solid #a5a09f;
    width: 100%;
    color: #272a31;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .top-nav {
        display: flex;
        justify-content: flex-end;
        color: white;
        background-color: #272a31;
        padding: 5px 120px 5px;
    }
    
    .top-nav li {
        margin-right: 15px;
    }
    
    .top-nav a {
        color: white;
    }
    
    .bottom-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0px #888888;
        padding: 7px 135px 7px;
    }
    
    .logo {
        font-size: 40px;
    }
    
    .menu {
        display: flex;
        align-items: center;
    }
    
    .menu-list {
        margin-right: 60px;
    }
    
    .menu-list a {
        color: #272a31;
    }
    
    .highlight {
        border: 3px solid #ec5242;
        padding: 5px 10px 5px 10px;
    }
    
    .highlight a {
        color: #ec5242;
    }

    .chess-players {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}