@import url("https://fonts.googleapis.com/css2?family=COCOGOOSE:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
}

.top-nav {
  display: none;
}

.bottom-nav {
  display: none;
}

.hamburger {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  font-size: 40px;
}

#mobile-menu {
  visibility: hidden;
  background-color: #fff;
  height: 100vh;
  top: 0;
  width: 100%;
  position: fixed;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #333336;
  gap: 35px;
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
}

.nav-mobile a {
  color: black;
}

.nav-mobile .high {
  color: #e2e1e1;
}

.highlighter {
  color: #d3d3d3;
  background-color: #ec5242;
  border: 1px solid #c2665e;
  font-size: 30px;
  width: 300px;
  padding: 30px;
  margin-top: 70px;
  text-align: center;
  cursor: pointer;
}

.cancel {
  font-size: 50px;
  margin-left: 5%;
  margin-top: 2.5%;
}

.headline {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 60px;
}

.opacity {
  background: #ffffff3f;
}

.headliner {
  background-image: url(images/checkmate.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hello {
  color: #ec5242;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.headline h1 {
  color: #ec5242;
  margin-top: 10px;
  font-family: 'cocogoose', sans-serif;
  font-size: 8vw;
}

.description {
  border: 2px solid #fff;
  margin-top: 20px;
  padding: 30px 20px 30px 20px;
  margin-bottom: 20px;
  background-color: rgb(247, 247, 248);
  text-align: center;
  border-image: initial;
}

.date {
  margin-top: 30px;
  font-size: 1.54rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.venue {
  margin-top: 10px;
  font-size: 1.12rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-bottom: 5%;
}

.main-program {
  background-image: url(images/ourservices-bg.jpeg);
}

.program {
  padding: 25px 10px 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}

.rule {
  margin-bottom: 35px;
  width: 35px;
  border: 1px solid #ec5242;
}

.program-title {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.program-list {
  display: flex;
  justify-content: center;
  border: 1px solid #333336;
  background-color: #9e9c9c50;
  padding: 20px 0 20px 20px;
  align-items: center;
  margin-bottom: 10px;
}

.program-list li {
  margin-right: 20px;
}

.icon {
  font-size: 28px;
  color: white;
}

.program-desc {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

.join-event {
  color: white;
  background-color: #ec5242;
  padding: 20px 30px;
  margin-top: 30px;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 20px 30px 20px;
}

h5 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 7px;
  font-size: 17px;
}

.player-desc {
  color: #ec5242;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

.player-intro {
  font-family: 'Lato', sans-serif;
}

.player {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex: 50%;
  margin-left: 18px;
}

.see-event {
  display: none;
}

.player-pic img {
  width: 110px;
  height: 110px;
  margin-right: 15px;
}

.player-pic::before {
  content: "";
  width: 80px;
  height: 80px;
  background-size: 80px;
  background-image: url(images/checker.jpeg);
  position: absolute;
  margin-left: -18px;
  margin-top: -18px;
  z-index: -1;
}

.ruler {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25px;
}

.players h2 {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}

.player-details p {
  font-size: 13px;
}

.more {
  border: 1px solid #a5a09f;
  width: 100%;
  color: #272a31;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

footer {
  visibility: hidden;
}

@media (min-width: 768px) {
  header {
    box-shadow: 0 3px 10px 0 #4b4b4b73;
  }

  .hamburger {
    display: none;
  }

  .top-nav {
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: #272a31;
    padding: 5px 120px 5px;
  }

  .top-nav li {
    margin-right: 15px;
  }

  .top-nav a {
    color: white;
    font-size: 13px;
  }

  .bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 #888;
    position: unset;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 7%;
    margin-right: 7%;
  }

  .logo {
    font-size: 40px;
    color: black;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-list {
    margin-right: 60px;
  }

  .menu-list a {
    color: #272a31;
    font-size: 15px;
  }

  .highlight a {
    color: #ec5242;
    white-space: nowrap;
    text-decoration: none;
    border: 3px solid #ec5242;
    font-size: 15px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
  }

  .chess-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .headline h1 {
    color: #ec5242;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'cocogoose', sans-serif;
  }

  .player-details {
    width: 50%;
  }

  .program-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    font-family: 'Lato', sans-serif;
  }

  .programs {
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-size: 30px;
  }

  .icon {
    margin-top: 15px;
  }

  .program-desc {
    margin-top: 7px;
  }

  .program-title {
    margin-top: 35px;
  }

  .program {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .join-event {
    margin-top: 70px;
    display: none;
  }

  .see-event {
    display: flex;
    text-decoration: underline;
    color: #fff;
    margin-top: 60px;
  }

  .players {
    margin-left: 10%;
    margin-right: 10%;
  }

  .partners {
    background-color: #333336;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
  }

  .partners h6 {
    color: #888;
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
  }

  .partners hr {
    width: 35px;
    border: 1px solid #ec5242;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .partner {
    color: #625e5e;
    font-size: 2.5vw;
    gap: 30px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: rgb(242, 240, 240);
  }

  .copyright p {
    margin-left: 50px;
  }

  .more {
    display: none;
  }

  footer {
    visibility: visible;
  }

  .description {
    width: 70%;
  }

  .headline {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .player {
    margin-left: 0;
  }
}
